.container {
    background: linear-gradient(90deg, #5263C8 0%, #303C83 100%);
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top:30px;
}
.header {
    padding-left:24px;
    padding-right: 24px;
}

.backIconBox {
    font-size: 30px;
}

.backIcon {
    color: #ffffff !important;
    font-size: 30px !important;
}

.title {
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
    text-align: center;
}

.content {
    font-size:30px;
    color: #ffffff;
    margin-top:50px !important;
}

.notificationBox {
    background: #ffffff;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:24px;
    border-radius: 50px 50px 0px 0px !important;
    box-shadow: none !important;
}

.notificationItem {
    text-align: left;
    margin-top:24px !important;
    background:#ffffff;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left:12px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(71, 71, 71, 0.1);
}

.notificationIconBox {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.notificationIconBackground {
    border-radius: 50% !important;
    padding-top: 1px;
    padding-bottom: 8px;
    box-shadow: none !important;
}

.notificationIcon {
    font-size: 40px !important;
}

.notificationTitle {
    color:#0E0E0E !important;
    font-weight: 700;
}

.notificationText {
    color: #999999 !important;
    font-weight: 400;
}