.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top:30px;
    background-color: white;
}
.header {
    padding-left:24px;
    padding-right: 24px;
}

.backIcon {
    color: #0E0E0E;
    font-size: 30px !important;
    flex: 0 1 auto;
    margin-right: auto;   
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #0E0E0E;
    position: relative;
}

.content {
    font-size:30px;
    margin-top:30px !important;
}

.venuesBox {
    padding-left:24px;
    padding-right:24px;
    padding-bottom:24px;
    box-shadow: none !important;
}

.venuesItem, .venuesSearchContainer {
    padding-bottom: 32px;
}

.venuesTextWelcome{
    font-size: 16px;
    color: #464646;
}

.venuesSectionTitle{
    font-size: 18px;
    margin-bottom: 25px;
}

.titleText{
    flex: 0 1 auto;
    position: absolute;             /* new */
    left: 50%;
    transform: translateX(-50%);
}

.venuesShowingText{
    font-size: 18px;
}